.main{
    background: yellow;
}

.header{
  
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header img{
     width: 350px;
    height: 50px;
}

.resume{
    width: 100%;
}



.grid{
    width: 100% !important;
}

.grid:nth-child(){
    
}