.main{
    background: red;
}

/*style.css 에서 grid 이미 써줬기 때문에, 우선순위를 다시 배열하기 위해서 !important 써줘야한다.*/

.grid{
    width: 33.3% !important;
    
}

.grid:nth-child(1){
    width: 100% !important;

}