
*{
    margin: 0;
    padding: 0;
    
}

.header{
   
    
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header img{
     width: 570px;
    height: 80px;
}

h3{
    font-family: Lato, sans-serif;
    
}

.resume{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}


a {
    text-decoration: none; 
    color: midnightblue;
}


body{
    
}

.container{
    
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 60px;
    
   font-family: Lato, sans-serif;
    font-weight: bold;
    background: white;
    
    /*자식영역이 보이지 않을 경우, 자식영역까지 계산하라고 명령*/
    overflow: hidden;
    
}

/*가변그리드 여백 -- calc 이용하던지 도화지 2개 만드는 방법이 있다. grid이용해서 안쪽 크기를 잡고 inner로 안쪽으로 여백을 쉽게 만들어주기 위해서 두개의 class 로 하나의 박스를 만들었다.*/

.container .grid{
    float: left;
   
}
.container .grid .inner{
    height: 300px;
    line-height: 300px;
    
}


/*.grid 안에 써줘야 한다 .inner 에 써주면 알아듣지 못함.*/


/*
.p1{ background-color: #EB1576;}
.p2{ background-color: #D7BD60; }
.p3{ background-color: #EB1576; }
.p4{ background-color: #D7BD60; }
.p5{ background-color: #EB1576; }
.p6{ background-color: #D7BD60; }
.p7{ background-color: #EB1576; }
.p8{ background-color: #D7BD60; }
.p9{ background-color: #EB1576;}
*/
/*


*/

.p1:hover{
    background-image: url("../img/hover-01.png");
    width:100%;
    z-index: 9999;
    
}

.grid .inner{
    
    margin: 7px;
    text-align: center;
    font-size: 30px;
    color: white;
    /*커서 손모양*/
    cursor: pointer;
    
    
}


.grid img{
    width: 100%;
    
}


.grid:nth-child(1){
    
    width: 33%;

    
}



.grid:nth-child(2){
    width: 33%;
}
.grid:nth-child(3){
    width: 33%;
}
.grid:nth-child(4){
    width: 33%;
}
.grid:nth-child(5){
    width: 33%;
}
.grid:nth-child(6){
    width: 33%;
}
.grid:nth-child(7){
    width: 33%;
}
.grid:nth-child(8){
    width: 33%;
}
.grid:nth-child(9){
    width: 33%;
}


.resume img{
   display: block;
    margin-left: auto;
    margin-right: auto;
   margin-bottom: 120px;
    margin-top: 80px;
}

